apiVersion: v1
kind: Service
metadata:
  name: {{ include "immich-server.name" . }}
  labels:
    {{- include "immich-server.labels" . | nindent 4 }}
spec:
  type: {{ .Values.server.service.type }}
  ports:
    - port: {{ .Values.server.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.server.metrics.enabled }}
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: metrics-api
    - port: 8082
      targetPort: 8082
      protocol: TCP
      name: metrics-ms
    {{- end }}
  selector:
    {{- include "immich-server.selectorLabels" . | nindent 4 }}
